@font-face {
	font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
	src: url("public\assets\fonts\YoungSerif-Regular.ttf");
}
@font-face {
	font-family: "outfit";
	font-family: "Young Serif", serif;
	font-weight: 400;
	font-style: normal;
	src: url("public\assets\fonts\Outfit-VariableFont_wght.ttf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;
